# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGOFLOWWING01_LEFT
    def_bool $(shields_list_contains,ergoflowwing01_left)

config SHIELD_ERGOFLOWWING01_RIGHT
    def_bool $(shields_list_contains,ergoflowwing01_right)